<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>
    <!-- Create navigation bar (header) -->
    <nav class = "navbar navbar-inverse nav-bar-fixed top">
        <div class ="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collasped"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only"> Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">
                   Registration and Login Module
                </a>
            </div>
        </div>
    </nav>
    <!-- Create HTML registration form  -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- Success Msg  -->
                <div th:if="${param.success}"> <!-- UserRegController flag for registerUser  -->
                    <div class="alert alert-info">
                        You've successfully registered to NitPik!
                    </div>
                </div>
                <h1> Registration</h1>
                <!-- Create Form  -->
                <form th:action="@{/registration}" method="post" th:object="${user}"> <!-- UserRegController @ModelAttribute  -->
                    <!-- Input Fields -->
                    <div class="form-group">
                        <label class="control-label" for="firstName">
                            First Name
                        </label>
                        <input id="firstName" class="form-control"
                               th:field="*{firstName}" required autofocus="autofocus"/><!-- firstName refers to the field we defined in UserRegistrationDto -->
                    </div>
                    <!-- Input Fields -->
                    <div class="form-group">
                        <label class="control-label" for="lastName">
                            Last Name
                        </label>
                        <input id="lastName" class="form-control"
                               th:field="*{lastName}" required autofocus="autofocus"/><!-- firstName refers to the field we defined in UserRegistrationDto -->
                    </div>
                    <!-- Input Fields -->
                    <div class="form-group">
                        <label class="control-label" for="email">
                            Email
                        </label>
                        <input id="email" class="form-control"
                               th:field="*{email}" required autofocus="autofocus"/><!-- firstName refers to the field we defined in UserRegistrationDto -->
                    </div>
                    <!-- Input Fields -->
                    <div class="form-group">
                        <label class="control-label" for="password">
                            Password
                        </label> <!-- to hide password add type label -->
                        <input id="password" class="form-control" type="password"
                               th:field="*{password}" required autofocus="autofocus"/><!-- firstName refers to the field we defined in UserRegistrationDto -->
                    </div>
                    <!-- Register Button -->
                    <div class ="form-group">
                        <button type="submit" class="btn btn-success"> Register </button>
                        <span> Already Registered?
                                <a href="/" th:href="@{/login}"> Login here  </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>



































































































